*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(0, 78, 122);
  display: grid;
  place-items: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

.carousel {
  --frame-width: 480px;

  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, min-content);
  gap: 12px;
}

.slides {
  display: flex;
  width: var(--frame-width);
  height: auto;
  position: absolute;
  right: 0;
}

.carousel-frame {
  box-sizing: content-box;
  width: var(--frame-width);
  height: 400px;
  border: 10px solid orange;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.nav-dots {
  grid-column: 1 / 4;
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}
